.home-page{
    height: 100vh;
    width: 100%;
    background-color: var(--white);
}
.header-container{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 4rem;
}
.front-image{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-image img{
    height: 160%;
    width: 160%;
    object-fit: contain;
}
.dept-container{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 0.5rem;
    gap: 2rem;
    font: 2rem;
}
.dept-tiles{
    box-sizing: border-box;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dept-tile{
    flex: 1 1 calc(33%);
    height: 5.5rem;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 20px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
}